{% call widget({
  title: __("youtube.title")
}) %}
  <p class="prose">{{ __("youtube.widget.description") }}</p>
  <div class="button-grid">
    {{ button({
      classes: "button--secondary-on-offset",
      href: application.youtubeEndpoint or "/youtube",
      text: __("youtube.widget.view")
    }) }}
  </div>
{% endcall %}
